<?xml version="1.0"?>
<config>
	<modules>
		<Saferpay_Standard>
			<version>0.0.1</version>
		</Saferpay_Standard>
	</modules>
	<global>
		<blocks>
			<saferpay>
				<class>Saferpay_Standard_Block</class>
			</saferpay>
		</blocks>
		<models>
			<saferpay>
				<class>Saferpay_Standard_Model</class>
			</saferpay>
		</models>
		<helpers>
			<saferpay>
				<class>Saferpay_Standard_Helper</class>
			</saferpay>
		</helpers>
	</global>
	<frontend>
		<routers>
			<saferpay>
				<use>standard</use>
				<args>
					<module>Saferpay_Standard</module>
					<frontName>saferpay</frontName>
				</args>
			</saferpay>
		</routers>
	</frontend>
	<adminhtml>
        <translate>
            <modules>
                <Saferpay_Standard>
                    <files>
                        <default>Saferpay_Standard.csv</default>
                    </files>
                </Saferpay_Standard>
            </modules>
        </translate>
	</adminhtml>
	<default>
		<payment>
			<saferpay_paypal>
				<model>saferpay/paypal</model>
			</saferpay_paypal>
		</payment>
		<saferpay>
			<settings>
				<saferpay_username></saferpay_username>
				<saferpay_password></saferpay_password>
				<saferpay_account_id></saferpay_account_id>
				<payinit_base_url>https://www.saferpay.com/hosting/CreatePayInit.asp</payinit_base_url>
				<verify_base_url>https://www.saferpay.com/hosting/VerifyEnrollment.asp</verify_base_url>
				<execute_base_url>https://www.saferpay.com/hosting/Execute.asp</execute_base_url>
				<!-- See https://www.saferpay.com/vt/xml/language.xml -->
				<language_ids_url>https://www.saferpay.com/vt/xml/language.xml</language_ids_url>
				<default_lang_id>1033</default_lang_id>
			</settings>
			<saferpay_paypal translate="title" module="saferpay">
				<active>1</active>
				<title>Saferpay Paypal</title>
				<allowspecific>0</allowspecific>
				<provider_id>1064</provider_id>
			</saferpay_paypal>
		</saferpay>
	</default>
</config>
